
<div class="herocontent">
    <div class="bg-black text-white w-full">
        <div class="max-w-[800px] mt-[-96px] w-full h-screen mx-auto text-center flex flex-col justify-center">
          <p class="text-[#00df9a] md:text-4xl text-2xl font-bold p-2">COMPLETE DAILY LIFE SOLUTIONS</p>
          <h1 class="md:text-5xl sm:text-4xl text-4xl font-bold py-6">FIND THE TALENT</h1>
          <div class="flex justify-center items-center">
            <!-- <div class="w-full">
              <p class="md:text-2xl sm:text-4xl text-xl font-medium py-4">We have the best </p>
            </div> -->
              <marquee behavior="" direction="" class="text-2xl">We have the best - "MECHANICS,CLEANING STAFFS,'ACCOUNTERS','DESIGNERS','FREELANCERS"</marquee>
          </div>
          <a routerLink="/nearbyservices">
            <button class="bg-[#00df9a] h-10 text-center w-[200px] mx-auto my-10 rounded-md">Get Start</button>
          </a>
        </div>
      </div>
</div>

<div class="heroabout">
    <div class="bg-white w-full py-6">
        <div class="max-w-[1240px] mx-auto grid md:grid-cols-2 border-b-4 pb-5 border-black">
          <img class="w-[500px] mx-auto my-4" src="assets/man-cleaning-landpage.webp" alt="/" />
          <div class="flex flex-col justify-center items-center space-x-4 px-4">
            <p class="md:text-3xl text-2xl font-bold">WHAT WE PROVIDES</p>
            <h1 class="md:text-4xl sm:text-3xl text-2xl font-bold py-2">complete daily solution</h1>
            <p>
              We providing a pltform to sell your <span class="text-red-500">Service</span>
            </p>
            <h3 class="md:text-3xl pt-5">
              The world of work has changed forever. Now let’s change it for good.
            </h3>
            <a routerLink="/nearbyservices">
              <button class="bg-black text-white h-9 w-24 rounded-md mt-10">Explore Now</button>
            </a>
          </div>
        </div>
      
        <div class="max-w-[1240px] mx-auto grid md:grid-cols-2 pt-5">
          <div class="flex flex-col justify-center items-center space-x-4">
            <p class="md:text-3xl text-2xl font-bold">What We Offer</p>
      
            <p class="pt-12 font-medium px-4">
              We facilitate crucial conversations through the use of tailored surveys, workshops, and one-on-one
              interviews with your team. No technical jargon, ten-page questionnaires, or complex line graphs. We
              cut to the heart of what will keep your employees happy and your business growing.
            </p>
          </div>
          <img class="w-[500px] mx-auto my-4" src="assets/home-improvement.jpg" alt="/" />
        </div>
      </div>
      
</div>

<div class="newsletter">
    <div class="w-full py-16 bg-black text-white">
        <div class="max-w-[1240px] mx-auto grid lg:grid-cols-3">
          <div class="lg:col-span-2 my-2">
            <h1 class="md:text-4xl sm:text-3xl text-2xl font-bold py-2">Want tricks & tips to optimize your flow ?</h1>
            <p>Sign up to our newsletter and stay up to date.</p>
          </div>
          <div class="my-4">
            <div class="flex flex-col sm:flex-row justify-between items-center w-full">
              <input class="p-3 flex w-full rounded-md text-black" type="email" placeholder="Enter email" />
              <button class="bg-[#00df9a] w-[200px] rounded-md ml-4 font-medium my-6 mx-auto px-6 py-3 text-black">Notify Me</button>
            </div>
            <p>we care about protection of your data. read our <span class="text-[#00df9a]">privacy policy.</span></p>
          </div>
        </div>
      </div>
      
</div>

<div *ngIf="showmodal">
  <app-chooselocation (closeLocation)="close()" (district)="district($event)"></app-chooselocation>
</div>