<div class="w-full">
    
    <input
                        type="search"
                        id="default-search"
                        class="block  p-4 pl-10 md:w-[700px] text-sm my-2 rounded-lg border border-gray-300 focus:ring-blue-500  dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Search services, location..."
                        required
                    />
</div>