<div class="mx-auto py-16 bg-slate-200 px-4 grid lg:grid-cols-3 gap-8 text-black">
    <div>
      <h1 class="w-full text-3xl font-bold text-[#00df9a]">SOCIAL-EXPO</h1>
      <p class="py-4 capitalize font-medium text-2xl">
        your complete daily life solution here
      </p>
      <div class="flex md:w-[75%] justify-between my-6">
        <fa-icon [icon]="dribbbleSquareIcon"></fa-icon>
        <fa-icon [icon]="facebookSquareIcon"></fa-icon>
        <fa-icon [icon]="githubSquareIcon"></fa-icon>
        <fa-icon [icon]="instagramIcon"></fa-icon>
        <fa-icon [icon]="twitterSquareIcon"></fa-icon>
      </div>
    </div>
  
    <div class="lg:col-span-3 flex justify-between">
      <div>
        <h5 class="font-medium text-gray-500">Solutions</h5>
        <ul>
          <li class="py-2 text-sm">Analytics</li>
          <li class="py-2 text-sm">Marketing </li>
          <li class="py-2 text-sm">Commerce </li>
          <li class="py-2 text-sm">Insights</li>
        </ul>
      </div>
  
      <div>
        <h5 class="font-medium text-gray-500">Support</h5>
        <ul>
          <li class="py-2 text-sm">Pricing </li>
          <li class="py-2 text-sm">Documentation</li>
          <li class="py-2 text-sm">Guides</li>
          <li class="py-2 text-sm">Api Status</li>
        </ul>
      </div>
  
      <div>
        <h5 class="font-medium text-gray-500">Company</h5>
        <ul>
          <li class="py-2 text-sm">About</li>
          <li class="py-2 text-sm">Contact</li>
          <li class="py-2 text-sm">Blog</li>
          <li class="py-2 text-sm">Career</li>
        </ul>
      </div>
  
      <div>
        <h5 class="font-medium text-gray-500">Legal</h5>
        <ul>
          <li class="py-2 text-sm">Claim</li>
          <li class="py-2 text-sm">Policy</li>
          <li class="py-2 text-sm">Terms</li>
        </ul>
      </div>
    </div>
  </div>
  