<div class="text-white py-2 px-4 w-full text-center flex justify-center items-center background-image-style">
    <a>
        <div class="text-center flex flex-col justify-center text-black text-xl font-medium capitalize">
            You need a subscription to add your service
            <div routerLink="/subscription" class="bg-red-600 flex capitalize justify-center items-center text-white w-full h-10 rounded-md my-5">
                Click here to subscribe
            </div>
        </div>
    </a>
</div>
