<app-loginnavbar></app-loginnavbar>
<app-banner></app-banner>
<div class="flex justify-center pt-5">
  
  <div *ngIf="subscibeExist && (isAuth$|async); else noSubscribe">
    <button
      *ngIf="!serviceExist"
      class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
      (click)="showAddService = !showAddService"
    >
      <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
      >
        ADD YOUR SERVICE
      </span>
    </button>
  </div>

  <ng-template #noSubscribe>
    <div>
      <app-subscribe-notify></app-subscribe-notify>
    </div>
  </ng-template>
</div>
<div *ngIf="serviceExist">
  <div class="flex justify-around items-center flex-col lg:flex-row px-20">
    <div class="flex space-x-10 lg:w-1/2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        strokeWidth="{1.5}"
        stroke="currentColor"
        class="w-10 h-10 text-green-300 font-bold"
      >
        <path
          strokeLinecap="round"
          strokeLinejoin="round"
          d="M4.5 12.75l6 6 9-13.5"
        />
      </svg>

      <h1 class="capitalize text-md text-green-500">
        you are already added your service
      </h1>
      <h2 class="capitalize text-md text-red-500">
        if you want to change delete the added One
      </h2>
    </div>
    <button
      class="bg-red-300 w-32 h-10 rounded-md hover:text-white hover:bg-red-600"
    >
      Delete Now
    </button>
  </div>
</div>
<div *ngIf="showAddService">
  <div *ngIf="isAuth$ | async; else loginRequest">
    <app-add-service
    (postEmit)="showAddService=!showAddService"
      [subscibeExist]="subscibeExist"
      [serviceExist]="serviceExist"
    ></app-add-service>
  </div>
  <ng-template #loginRequest>
    <div
      class="flex flex-col gap-5 justify-center items-center font-bold text-xl capitalize"
    >
      <h1 class="text-2xl">please login now !</h1>
      <p>without login you cant add your service !</p>
    </div>
  </ng-template>
</div>

<div class="" *ngIf="allWorkers">
  <div
    *ngIf="allWorkers.length !== 0; else noworker"
    class="flex justify-center items-centerbg-green-100"
  >
    <div
      *ngFor="let worker of allWorkers"
      class="flex justyfy-center gap-10 pt-20"
    >
      <div>
        <app-service-profile-card [Worker]="worker"></app-service-profile-card>
      </div>
    </div>
  </div>
  <ng-template #noworker>
    <div
      class="flex justify-center items-center h-screen text-4xl text-red-700 capitalize"
    >
      sorry! currently there is no services in this location
    </div>
  </ng-template>
</div>
