<div class="h-[500px] flex justify-center items-center">
    <div class="bg-[#455A64] h-full py-10 max-w-[500px] rounded-lg">
      <ul class="py-10">
        <a routerLink="/admin/dashboard">
          <li class="mx-20  bg-black">
            <div class="h-8 flex bg-white px-10 mt-10 rounded-md items-center cursor-pointer">
              <i class="mr-4"><i class="fas fa-tachometer-alt"></i></i>
              <h3 class="font-medium">Dashboard</h3>
            </div>
          </li>
        </a>
  
        <a routerLink="subscription">
          <li class="mx-20">
            <div class="h-8 flex bg-white px-10 mt-10 rounded-md items-center cursor-pointer">
              <i class="mr-4"><i class="fas fa-user-friends"></i></i>
              <h3 class="font-medium">subscriptions</h3>
            </div>
          </li>
        </a>
  
        <a routerLink="users">
          <li class="mx-20">
            <div class="h-8 flex bg-white px-10 mt-10 rounded-md items-center cursor-pointer">
              <i class="mr-4"><i class="fas fa-user-friends"></i></i>
              <h3 class="font-medium">UserList</h3>
            </div>
          </li>
        </a>
  
        <a routerLink="workers">
          <li class="mx-20 w-60">
            <div class="h-8 w-full flex bg-white px-10 mt-10 rounded-md items-center cursor-pointer">
              <i class="mr-4"><i class="fas fa-user-tie"></i></i>
              <h3 class="font-medium">Worker manage</h3>
            </div>
          </li>
        </a>
  
        <a routerLink="services">
          <li class="mx-20">
            <div class="h-8 flex bg-white px-10 mt-10 rounded-md items-center cursor-pointer">
              <i class="mr-4"><i class="fas fa-th-list"></i></i>
              <h3 class="font-medium">Services</h3>
            </div>
          </li>
        </a>
      </ul>
    </div>
  </div>
  