            <div class="flex w-full h-[750px] items-center justify-center p-10 bg-black">
                <div class="w-full hidden md:flex justify-center h-52  items-center">
                    <img src="assets/loginImg.png" alt="" class="">
                </div>
                <div class="w-full flex flex-col justify-center h-full items-center text-white rounded">
                    <h1 class="text-3xl font-medium uppercase underline py-10"> Log in </h1>
                    <form action="" class=" flex flex-col gap-5" (ngSubmit)="signinSubmit()">
                        <div *ngFor="let x of inputs">
                            <app-inputbox 
                            [inputId]="x.inputId"
                            [inputType]="x.inputType"
                            [labelName]="x.labelName"
                            [inputPlaceHolder]="x.inputPlaceHolder"
                            [inputFormControlName]="x.inputId"
                            [form]="signinForm"
                            ></app-inputbox>
                        </div> 
                        <div class="flex justify-end py-10 gap-10 ">
                            <p>you dont have an account ? <span class="text-xl capitalize cursor-pointer text-yellow-500" routerLink="/signup">register</span></p>
                            <button [disabled]="signinForm.invalid" id="signin" class="signin disabled:cursor-not-allowed capitalize w-20 bg-yellow-500 h-10 rounded text-black hover:bg-white hover:text-yellow-500 text-lg font-medium">log in</button>
                        </div>
                    </form>
                </div>  
                    
            </div>
