<div class="h-full rounded-md bg-white mx-10 text-white">
    <form #comment="ngForm" (submit)="submitComment()">
      <div class="py-5 flex items-center space-x-3 justify-center">
        <input
          type="text"
          name="comments"
          [(ngModel)]="comments"
          class="bg-[#786e67] w-[50%] h-12 rounded-md text-white"
        />
        <button
          type="submit"
          class="bg-[#00df9a] w-20 h-8 rounded-lg text-black font-bold"
        >
          ADD
        </button>
      </div>
    </form>
  
    <div>
        <app-post-commentbox [postId]="postId"></app-post-commentbox>
      </div>
  </div>
  