<div>
  <div class="flex items-center justify-center">
    <form #addservice="ngForm" action="" (submit)="submitFofrm()">
      <div class="mx-auto w-full max-w-[550px]">
        <div class="-mx-3 flex flex-wrap">
          <div class="w-full px-3 sm:w-1/2">
            <div class="mb-5">
              <label class="font-medium mb-5">Add service</label>
              <input
                type="text"
                name="service"
                [(ngModel)]="formData.service"
                placeholder="add service"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />
            </div>
          </div>
          <div class="w-full px-3 sm:w-1/2">
            <div class="mb-5">
              <label class="font-medium mb-5">Add service image</label>
              <input
                type="file"
                accept="images/*"
                name="image"
                (change)="handleImage($event)"
                placeholder="add service image"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />
            </div>
          </div>
          <div class="w-full px-3 sm:w-1/2">
            <div class="mb-5">
              <label class="font-medium mb-5">Add service logo</label>
              <input
                type="file"
                name="servicelogo"
                (change)="handleLogo($event)"
                placeholder="add service logo"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />
            </div>
          </div>
          <!-- Repeat similar changes for other parts of the code -->
        </div>
        <div class="mb-5">
          <label class="font-medium mb-5">Add Description</label>
          <textarea
            type="text"
            name="description"
            id="description"
            [(ngModel)]="formData.description"
            placeholder="add description"
            min="0"
            class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          ></textarea>
        </div>
        <div>
          <button
            type="submit"
            class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
