<div class="flex flex-col w-full h-screen">
    <div class='bg-gray-800  text-gray-100 h-[500px] flex-shrink-0'>
      <div class="flex items-center justify-center h-16">
        <span class="lg:text-2xl font-semibold">SOCIAL-EXPO</span>
      </div>
      <nav class="flex-grow">
        <ul class="flex flex-col py-4 space-y-16">
  
          <li class="px-5">
            <a routerLink="/nearbyservices"  class="flex">
              <!-- <fa-black-tie class="pr-2" size="40"></fa-black-tie> -->
              <button class="bg-black h-10 text-white flex-grow rounded-md cursor-pointer font-medium hover:bg-slate-400 hover:text-black">
                <h3 class="hover:text-[00df9a]">Near by service</h3>
              </button>
            </a>
          </li>
  
          <li class="px-5">
            <a routerLink="/post" class="flex">
              <!-- <bi-layer-plus class="pr-2" size="40"></bi-layer-plus> -->
              <button class="bg-black h-10 text-white flex-grow rounded-md cursor-pointer font-medium hover:bg-slate-400 hover:text-black">
                <h3 class="hover:text-[00df9a]">posts</h3>
              </button>
            </a>
          </li>
  
          <ng-container *ngIf="isAuth$ | async">
            <li  class="px-5">
              <a routerLink="/controlpanel" class="flex">
                <!-- <io-game-controller-outline class="pr-2" size="40"></io-game-controller-outline> -->
                <button class="bg-black h-10 text-white flex-grow rounded-md cursor-pointer font-medium hover:bg-slate-400 hover:text-black">
                  <h3 class="hover:text-[00df9a]">control panel</h3>
                </button>
              </a>
            </li>
          </ng-container>
  
          <ng-container *ngIf="isAuth$ |async">
            <li  class="px-5">
              <a routerLink="/profile/myprofile" class="flex">
                <!-- <bs-fill-person-lines-fill class="pr-2" size="40"></bs-fill-person-lines-fill> -->
                <button class="bg-black h-10 text-white flex-grow rounded-md cursor-pointer font-medium hover:bg-slate-400 hover:text-black">
                  <h3 class="hover:text-[00df9a]">profile</h3>
                </button>
              </a>
            </li>
          </ng-container>
        </ul>
      </nav>
    </div>
  </div>
  