<div class="bg-white sticky">
    <div class="flex w-full justify-around items-center text-center shadow-black shadow-2xl">
      <div (click)="followRequst()" class="flex justify-center w-full md:h-16 items-center cursor-pointer">
        <h1 class="capitalize font-medium text-lg hover:underline hover:text-yellow-500">
          incoming Follow request's
        </h1>
      </div>
      <div (click)="newAppointment()" class="flex justify-center w-full md:h-16 items-center  cursor-pointer">
        <h1 class="capitalize font-medium text-lg hover:underline hover:text-yellow-500">
          incoming appointment's
        </h1>
      </div>
      <div (click)="workStatus()" class="flex justify-center w-full md:h-16 items-center cursor-pointer">
        <h1 class="capitalize font-medium text-lg hover:underline hover:text-yellow-500">
          upcoming work status
        </h1>
      </div>
    </div>
  </div>
  